@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-outlined {
		@apply border border-light text-light px-6 py-2 rounded text-sm font-semibold tracking-wider hover:bg-light hover:text-dark transition duration-300 uppercase;
	}

	.input-field {
		@apply w-full border border-gray-300 p-3 rounded focus:outline-none focus:border-blue transition-colors;
	}
}
