@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #141619;
}

@layer components {
	.btn-outlined {
		@apply border border-light text-light px-6 py-2 rounded text-sm font-semibold tracking-wider hover:bg-light hover:text-dark transition duration-300 uppercase;
	}

	.input-field {
		@apply w-full border border-gray-300 p-3 rounded focus:outline-none focus:border-blue transition-colors;
	}

	.custom-scrollbar::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}
	.custom-scrollbar::-webkit-scrollbar-track {
		background: #1a1d21;
	}
	.custom-scrollbar::-webkit-scrollbar-thumb {
		background: #374151;
		border-radius: 3px;
	}
	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background: #4b5563;
	}
}
